#title {
  background-color: #ff46c8;
  text-align: left;
}
/*  */
body {
  font-family: Montserrat;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-style: 'Monserrat', sans-serif;
  font-weight: bold;
}

p {
 color: #8f8f8f;

}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}
 /* Heading  */

.big-heading {
  font-style: 'Monserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  line-height: 1.5;
  font-size: 3rem;
}

.container-fluid{
  padding: 7% 15%;
}

/* sections  */

.colored-section {
  background-color: #ef8172;
  color: white;
}

.white-section {
  background-color: white;
}

.feature-icon:hover {
color: #ff4c68
}
.feature-icon {
color: #ef8172;
/* font-size: 5rem; */
margin-bottom: 1rem;
}
#title .container-fluid {
  padding: 3% 15% 7%;
}
.iphone {
  transform: rotate(25deg);
  width: 25%;
  position: absolute;
  right: 25%;
}
#features {

  padding: 7% 12%;
  position: relative;
}
.navbar-brand {
  font-family: 'Ubuntu',cursive;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar {
   padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.navlink {
  font-size: 1.2rem;
  font-family: 'Montserrat';
}
/* Download Buttons */

.download-buttons {
  margin: 5% 3% 5% 0;
}
.feature-box {
  padding: 5%;
}
/* Testimonials Section */
.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
 #press {
  padding-bottom: 3%;
}
.testimonial-text {
  line-height: 1.5;
  font-size: 3rem;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

/* Pricing Section */

#pricing {
  padding: 100px;

}
#pricing p {
  margin: 3%;
}
.pricing-column {
  padding: 3% 2%;
}
.price-text {
  line-height: 1.5;
  font-size: 3rem;
}

/* CTA  */

.cta-heading {
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}

/* FOOTER  */
.social-icons {
  margin: 20px 10px;

}
/* Mobile  */

@media (max-width: 1175px) {
  #title {
    text-align: center;
  }
  .testimonial-text {
    font-size: 2rem;
    line-height: 1.5;
  }
  .iphone {
    position: static;
    transform: rotate(0);
    width: 50%;
  }
}
